
<div class="body">
 <div class="index">

   <div class="header">
     <h1>Books</h1>
   </div>

   <table class="box_wrapper">
     <thead>
        <tr>
          <th>title</th>
          <th>body</th>
          <th></th>
        </tr>
      </thead>
      <% @books.each do |list| %>
      <tbody>
        <tr>
          <td> <%= list.title %> </td>
          <td> <%= list.body %> </td>
          <td><%= link_to "Show", book_path(list.id), method: :get %></td>
          <td> <%= link_to "Edit", edit_book_path(list.id), method: :get %></td>
          <td> <%= link_to "Destroy", book_path(list.id), method: :delete,data: { confirm:"Are you sure?"} %></td>
        </tr>
      </tbody>
    <% end %>
   </table>

</div>


<div class="form">


  <div class = form_header>
    <h2>New book</h2>
  </div>

  <div class="validation">
    <% if @book.errors.any? %>
    <h4><%= @book.errors.count %> error prohibited this book from being saved:</h4>

    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  <% end %>


  </div>
  <%= form_with model:Book.new do |f| %>

  <div class="form_wrapper">
    <div class="title_box">
      <div class="bookname">タイトル</div>
      <%= f.text_field :title %>

    </div>

    <div class="body_box">
      <div class="bookfeedback">本文</div>
       <%= f.text_area :body %>
    </div>

  </div>

  <%= f.submit 'Create Book' %>
  <%end %>

 </div>
</div>