
<div class="edit">
  <div class="message">
    <%= flash[:notice] %>
  </div>

  <div class="show">

    <div class="title_box">
      <p> <strong>title:</strong><%= @book.title %></p>

    </div>

    <div class="body_box">
      <p><strong>body:</strong><%= @book.body %></p>
    </div>

    <div class="botton_box">
     <%= link_to "Edit", edit_book_path(@book.id)  %>
     <%= link_to "back", books_path %>
    </div>
  </div>
</div>